#PyCharm
*.iml
.idea
*.pyc
__pycache__
*.swp
*~
#PyDev
.project
.pydevproject
#output
.coverage
cover/
output/
data/
bin/
include/
lib/
lib64
dist/
man/
share/
src/
pip-selfcheck.json
pyvenv.cfg

# cookies
cookies*
